# Crop YOLOv4 people

## Path definitions - change to your own

In [4]:
IMAGES_PATH = "/content/drive/MyDrive/TFM/TGCRBNWv0.1UnifiedImgs/"
YOLOV4_RESULTS_CSV = "/content/drive/MyDrive/TFM/yolov4_results/transform.csv"
OUT_IMAGES = "/content/drive/MyDrive/TFM/yolov4_crop"

Here Google Drive storage is loaded. You can omit this cell if you are not using it.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
%mkdir {OUT_IMAGES}

In [6]:
import pandas as pd

In [11]:
df = pd.read_csv(YOLOV4_RESULTS_CSV)
df

      Unnamed: 0  ...   class
0              0  ...  person
1              1  ...  person
2              2  ...  person
3              3  ...  person
4              4  ...  person
...          ...  ...     ...
2525        2525  ...  person
2526        2526  ...  person
2527        2527  ...  person
2528        2528  ...  person
2529        2529  ...  person

[2530 rows x 7 columns]