# Method comparison

Comparison between the detections in the original images and the processed by Deeplav3 + OpenCV post-processing

## Path definitions

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
ORIGINAL_RESULTS = "/content/drive/MyDrive/TFM/comparison_files/original_predictions.csv"
CROP_RESULTS = "/content/drive/MyDrive/TFM/comparison_files/crop90_predictions.csv"
CROP_MAP = "/content/drive/MyDrive/TFM/comparison_files/final_map_resutls.txt"

## Read predictions

In [10]:
import pandas as pd

In [11]:
original_df = pd.read_csv(ORIGINAL_RESULTS)
crop_df = pd.read_csv(CROP_RESULTS)

In [15]:
original_df.describe()

       Unnamed: 0        x_min  ...        y_max        score
count  4242.00000  4242.000000  ...  4242.000000  4242.000000
mean   2120.50000  1136.297973  ...   524.126355    88.267327
std    1224.70425   418.996303  ...   202.058370     9.116745
min       0.00000     0.000000  ...    16.000000    70.000000
25%    1060.25000   848.000000  ...   384.000000    81.000000
50%    2120.50000  1184.000000  ...   496.000000    91.000000
75%    3180.75000  1440.000000  ...   624.000000    97.000000
max    4241.00000  1888.000000  ...  1072.000000    99.000000

[8 rows x 6 columns]

In [14]:
crop_df.describe()

        Unnamed: 0        x_min  ...        y_max        score
count  1982.000000  1982.000000  ...  1982.000000  1982.000000
mean    990.500000    69.336024  ...   259.196771    95.484864
std     572.298436    57.132338  ...   131.833008     6.730443
min       0.000000   -16.000000  ...    16.000000    70.000000
25%     495.250000    32.000000  ...   176.000000    96.000000
50%     990.500000    48.000000  ...   224.000000    99.000000
75%    1485.750000    96.000000  ...   304.000000    99.000000
max    1981.000000   416.000000  ...   912.000000    99.000000

[8 rows x 6 columns]